body {
    background: linear-gradient(90deg, aqua, #3a72ec);
}

header {
    text-align: center;
}

header h1 {
   font-size: 2.5em;
}
    

main, header {
    margin: 1% 1%;
    padding: 0 2%;
    border: 2px dashed rgb(0, 0, 255);
    border-radius: 10px;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

code {
    color: rgb(0, 71, 203);
    font-size: 1.3em;
}

/*==menu==*/

nav#menu {
    font-size: 1.5em;
    margin: 5px;
    border-radius: 7px;
    padding-top: 5px;
}

nav#menu li {
    display: inline-block;
    padding: 0 5%;
}

nav#menu li a {
    text-decoration: none;
    font-size: 1.1em;
}

/*==link==*/
a {
    font-size: 1.2em;
}

a.normalis {
    font-size: 1em;
}

nav.blog {
    text-align: center;
    margin: 0 -5px;
    padding: 1px 5px;
    background: linear-gradient(180deg, rgba(161, 244, 244, 0.614), whitesmoke);
    border-radius: 10px;
}

nav.blog a {
    font-size: 1.5em;
    color: black;
}

nav.blog p{
    text-align: left;
}

footer a {
    background-color: aliceblue;
}

p.header-time {
    font-size: 1.25em;
}

table {
    border: 2px solid black;
    border-collapse: collapse;;
}

th, td{
    border: 1px solid black;
    margin: 0;
    border-collapse: collapse;
}

th {
    background-color: rgb(144, 227, 255);
}

td.intervalRow {
    text-align: center;
}

div.tableDiv {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}